section, .section, img, button {
    transition: transform 0.3s ease;
  }
  
  section:hover, .section:hover, img:hover, button:hover{
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Updated box-shadow properties */
  }
  